<div class="left-menu__wrapper">
	<h2>@@title</h2>
	<div class="left-menu">
		<div class="left-menu__col">
			<div class="search row search-desc">
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M16.927 17.0401L20.4001 20.4001M19.2801 11.4401C19.2801 15.77 15.77 19.2801 11.4401 19.2801C7.11019 19.2801 3.6001 15.77 3.6001 11.4401C3.6001 7.11019 7.11019 3.6001 11.4401 3.6001C15.77 3.6001 19.2801 7.11019 19.2801 11.4401Z"
						stroke="#6E6E73" stroke-width="2" stroke-linecap="round" />
				</svg>
				<input type="text" placeholder="Поиск">
				<button class="round-btn btn">Найти</button>
			</div>
		</div>

		<div class="left-menu__col">
			<div class="left-menu__title">Специализация</div>
			<label class="sel">
				<select>
					<option value="Data Science">Data Science</option>
					<option value="Development">Development</option>
					<option value="QA">QA</option>
					<option value="Analytics">Analytics</option>
					<option value="Managers">Managers</option>
					<option value="DevOps">DevOps</option>
					<option value="GameDev">GameDev</option>
					<option value="UI/UX Design">UI/UX Design</option>
					<option value="IT HR / Recruiter">IT HR / Recruiter</option>
					<option value="Architect \ CTO">Architect \ CTO</option>
				</select>
			</label>
		</div>
		<div class="left-menu__col">
			<div class="left-menu__title">Компания</div>
			<label class="sel">
				<select>
					<option value="Tinkoff">Tinkoff</option>
					<option value="Data Science">МТС</option>
				</select>
			</label>
		</div>

	</div>

</div>