<div class="left-menu">
	<div class="left-menu__col">
		<div class="search row search-desc">
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M16.927 17.0401L20.4001 20.4001M19.2801 11.4401C19.2801 15.77 15.77 19.2801 11.4401 19.2801C7.11019 19.2801 3.6001 15.77 3.6001 11.4401C3.6001 7.11019 7.11019 3.6001 11.4401 3.6001C15.77 3.6001 19.2801 7.11019 19.2801 11.4401Z"
					stroke="#6E6E73" stroke-width="2" stroke-linecap="round" />
			</svg>
			<input type="text" placeholder="Поиск">
			<button class="round-btn btn">Найти</button>
		</div>
	</div>
	<div class="left-menu__col chips__col">
		<label class="chips active">
			<input type="radio" name="candidats">
			<span>Все кандидаты</span>
		</label>
		<label class="chips">
			<input type="radio" name="candidats">
			<span>Проходят модерацию</span>
		</label>
		<label class="chips">
			<input type="radio" name="candidats">
			<span>На рассмотрении</span>
		</label>
		<label class="chips">
			<input type="radio" name="candidats">
			<span>Взяты в работу</span>
		</label>
		<label class="chips">
			<input type="radio" name="candidats">
			<span>HR-интервью</span>
		</label>
		<label class="chips">
			<input type="radio" name="candidats">
			<span>Техническое собеседование</span>
		</label>

		<label class="chips">
			<input type="radio" name="candidats">
			<span>Тестовое задание</span>
		</label>
		<label class="chips">
			<input type="radio" name="candidats">
			<span>Финальное интервью</span>
		</label>
		<label class="chips">
			<input type="radio" name="candidats">
			<span>Получили оффер</span>
		</label>
		<label class="chips">
			<input type="radio" name="candidats">
			<span>Приняли оффер</span>
		</label>
		<label class="chips">
			<input type="radio" name="candidats">
			<span>Отказ от оффера</span>
		</label>
		<label class="chips">
			<input type="radio" name="candidats">
			<span>Вышли на работу</span>
		</label>
		<label class="chips">
			<input type="radio" name="candidats">
			<span>Отказано </span>
		</label>
		<label class="chips">
			<input type="radio" name="candidats">
			<span>Не прошли модерацию </span>
		</label>

	</div>
	<div class="left-menu__col">
		<div class="left-menu__title">Специализация</div>
		<label class="sel">
			<select>
				<option value="Data Science">Data Science</option>
				<option value="Development">Development</option>
				<option value="QA">QA</option>
				<option value="Analytics">Analytics</option>
				<option value="Managers">Managers</option>
				<option value="DevOps">DevOps</option>
				<option value="GameDev">GameDev</option>
				<option value="UI/UX Design">UI/UX Design</option>
				<option value="IT HR / Recruiter">IT HR / Recruiter</option>
				<option value="Architect \ CTO">Architect \ CTO</option>
			</select>
		</label>
	</div>
	<div class="left-menu__col">
		<div class="left-menu__title">Компания</div>
		<label class="sel">
			<select>
				<option value="Tinkoff">Tinkoff</option>
				<option value="Data Science">Data Science</option>
			</select>
		</label>
	</div>
	<div class="left-menu__col">
		<div class="left-menu__title">Зарплата р/мес на руки</div>
		<label class="check radio">
			<input type="radio" name="price">
			<span>от 150 000 р</span>
		</label>
		<label class="check radio">
			<input type="radio" name="price">
			<span>от 200 000 р</span>
		</label>
		<label class="check radio">
			<input type="radio" name="price">
			<span>от 250 000 р</span>
		</label>
		<label class="check radio">
			<input type="radio" name="price">
			<span>от 300 000 р</span>
		</label>
	</div>
	<div class="left-menu__col">
		<div class="left-menu__title">Регион и формат работы</div>
		<label class="sel">
			<select>
				<option value="Офис или гибрид">Офис или гибрид</option>
				<option value="Data Science">Удалённая работа</option>
			</select>
		</label>
		<label class="check radio">
			<input type="radio" name="city">
			<span>Москва</span>
		</label>
		<label class="check radio">
			<input type="radio" name="city">
			<span>Санкт-Петербург</span>
		</label>
		<label class="check radio">
			<input type="radio" name="city">
			<span>другие города РФ</span>
		</label>
		<label class="check radio">
			<input type="radio" name="city">
			<span>International</span>
		</label>
	</div>
	<div class="left-menu__col">
		<div class="left-menu__title">Опыт работы</div>
		<input type="text" class="js-range-slider" name="my_range" value="" data-type="double" data-min="0" data-max="10"
			data-skin="round">

		<div class="left-menu__range row">
			<span>от</span>
			<input type="number" class="input input-from" id="from" placeholder="0">
			<span>до</span>
			<input type="number" class="input input-to" id="to" placeholder="10">
		</div>
	</div>
	<div class="left-menu__col">
		<div class="left-menu__title">Размер бонуса</div>

		<label class="check radio">
			<input type="radio" name="bonus">
			<span>от 75 000 р</span>
		</label>
		<label class="check radio">
			<input type="radio" name="bonus">
			<span>от 100 000 р</span>
		</label>
		<label class="check radio">
			<input type="radio" name="bonus">
			<span>от 125 000 р</span>
		</label>
	</div>
	<div class="left-menu__col">
		<div class="left-menu__title">Период размещения</div>
		<label class="check radio">
			<input type="radio" name="time">
			<span>за все время</span>
		</label>
		<label class="check radio">
			<input type="radio" name="time">
			<span>за месяц</span>
		</label>
		<label class="check radio">
			<input type="radio" name="time">
			<span>за неделю</span>
		</label>
		<label class="check radio">
			<input type="radio" name="time">
			<span>за последние 3 дня</span>
		</label>
		<label class="check radio">
			<input type="radio" name="time">
			<span>за сутки</span>
		</label>
	</div>

</div>